<footer class="footer">
  <h2 class="sr-only">Contacts information</h2>
  <div class="footer__container container-base">
    <div class="footer__top">
      <div class="footer__body">
        <img src="/public/images/logo.svg" alt="Logo" class="footer__logo" />
          <div class="footer__column">
            <h3>Contact:</h3>
            <p>
              7616 Ogontz Ave <br />
              Philadelphia, PA 19150 <br />
              <a href="tel:2678931250">(267) 893-1250</a>
            </p>
            <div class="footer__socials">
              <a href="#" title="Facebook" class="footer__socials-item">
                <img src="/public/images/facebook.svg" alt="Facebook" />
              </a>
              <a href="#" title="Instagram" class="footer__socials-item">
                <img src="/public/images/insta.svg" alt="Instagram" />
              </a>
              <a href="#" title="Linkedin" class="footer__socials-item">
                <img src="/public/images/insta.svg" alt="Linkedin" />
              </a>
            </div>
          </div>
        <div class="footer__column">
          <h3>Schedule:</h3>
          <p>
            Monday-Friday 9 am - 5 pm <br />
            Saturday by appointment only
          </p>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom-copyright">
        <p>© 2025. All Rights Reserved. Website by Curis Digital. Privacy Policy | Terms & Conditions</p>
      </div>
    </div>
  </div>
</footer>
