@use "../helpers" as *;

.blog-section {
  padding-block: rem(40);
  &__container {
  }

  &__body {
  }

  &__slider {
  }

  &__slider-wrapper {
  }

  &__slide {
    display: flex;
    flex-direction: column;
    row-gap: rem(24);
    padding: fluid(16, 40);
    border: rem(1) solid var(--color-accent);
    border-radius: rem(20);
  }

  &__slide-image {
    img {
      max-height: rem(300);
      border-radius: rem(16);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slide-content {
  }

  &__slide-title {
    color: #1b0126;
    font-size: rem(24);
    font-weight: 700;
    font-family: var(--font-family-base);
    margin-bottom: rem(8);
  }

  &__slide-text {
    color: #1b0126;
    font-size: rem(20);
    font-weight: 400;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  &__slide-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: rem(20);
  }

  &__slide-link {
    color: var(--color-accent);
    font-size: rem(18);
    line-height: 1.33;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    @include hover {
      text-decoration: underline;
      text-underline-offset: rem(4);
    }

    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2225%22%20viewBox%3D%220%200%2024%2025%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M13.75%206.96875L19.25%2012.2188L13.75%2017.4688M19%2012.2188H4.75%22%20stroke%3D%22%2365008F%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: rem(24);
      height: rem(24);
    }
  }

  &__slide-date {
    color: #1b0126;
    font-size: rem(16);
    font-weight: 500;
    line-height: 1.5;
  }

  &__footer {
    display: flex;
    justify-content: center;
    margin-top: fluid(16, 60);
  }

  &__prev-button {
  }

  &__all-posts {
  }

  &__next-button {
  }
}
