@use "../helpers" as *;

.service-benefits {
  padding: rem(40) 0 fluid(40, 80) 0;
  position: relative;
  z-index: -1;

  &::after {
    content: "";
    position: absolute;
    right: rem(-119);
    top: 30%;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22444%22%20height%3D%22498%22%20viewBox%3D%220%200%20444%20498%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M3%20163v-33L232%200l212%20133v29L231%2031zM56%204h25v74L55%2092z%22%20fill%3D%22%23fff%22%20fill-opacity%3D%22.5%22%2F%3E%3Cpath%20d%3D%22M339.999%20219c-12.802%2038.261-47.836%2081.527-119%20122-53.986-33.301-87.023-66.473-105-97l5-5c16.775%2029.127%2047.416%2061.608%2099%2094%2066.394-37.954%20100.253-79.478%20113-115zm-96.997%2043%2029-52h18l6-9%204%209h29c-10.75%2031.772-43.099%2070.6-108%20111-52.67-31.375-82.033-63.822-96-93l-1-2h4l21-1%2012%2017%2012-17%2024%201%2016-29zm-15-101c42.367-57.022%20119.943-24.767%20103%2042h-15c-.176%200-.864-.084-1%200h-12l-8-13-9%2014h-20l-22%2042-32-68-20%2038h-22l-9%2012-7-11h-33c-25.78-71.703%2044.264-116.35%2094-55zm-125.003%2054c-28.12-89.43%2073.265-141.805%20118-71%2052.489-64.361%20130.317-24.021%20125%2048h-7c5.204-67.116-67.647-103.447-118-41-41.746-67.51-134.636-23.091-113%2058z%22%20fill%3D%22%23fff%22%20fill-opacity%3D%22.5%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M153%20344c-29.982-3.56-52.746-29.827-64-91-8.729-39.276-25.91-33.273-21-18%201.997%2023.55%208.179%2047.998%2016%2073-10.139-12.225-19.81-32.315-27-74-9.273-28.909-25.91-26.091-21-13%201.767%2026.73%207.582%2054.27%2014%2081-9.653-19.546-18.485-40.773-25-76-7.633-26.185-24.864-27.641-25-13%209.935%2083.105%2043.82%20134.196%2090%20168%2035.451%2024.004%2051.05%2064.96%2048%20117%2063.916-28.348%2082.259-82.769%2074-153-.506-8.118-1.623-15.755-5-21-7.52-14.417-9.023-32.057-9-51-17.717-.956-26.851%2011.888-23%2044%207.488%2053.635-26.41%2047.495-70%2029%2016.589%201.355%2032.973%202.915%2048-2m135.999%200c29.979-3.56%2052.743-29.827%2064-91%208.726-39.276%2025.908-33.273%2021-18-1.996%2023.55-8.178%2047.998-16%2073%2010.142-12.225%2019.808-32.315%2027-74%209.27-28.909%2025.908-26.091%2021-13-1.766%2026.73-7.582%2054.27-14%2081%209.653-19.546%2018.485-40.773%2025-76%207.637-26.185%2024.861-27.641%2025-13-9.938%2083.105-43.821%20134.196-90%20168-35.447%2024.004-51.05%2064.96-48%20117-63.919-28.348-82.262-82.769-74-153%20.506-8.118%201.623-15.755%205-21%207.517-14.417%209.023-32.057%209-51%2017.717-.956%2026.851%2011.888%2023%2044-7.484%2053.635%2026.411%2047.495%2070%2029-16.592%201.355-32.973%202.915-48-2%22%20fill%3D%22%23fff%22%20fill-opacity%3D%22.5%22%2F%3E%3C%2Fsvg%3E");
    background-position: center;
    background-size: contain;
    width: rem(450);
    height: rem(450);
    pointer-events: none;

    @include large {
      display: none;
    }
  }

  &__container {
    padding-left: calc((100vw - 1840px) / 2);

    @media (max-width: rem(1200)) {
      padding-inline: rem(20);
    }
  }

  &__slider {
    overflow: hidden;
    padding-bottom: rem(3);
  }

  &__slider-wrapper {
  }

  &__slider-item {
  }

  &__footer {
    margin-top: rem(24);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: rem(20);
    column-gap: rem(8);
  }

  &__navigation-button {
    flex-shrink: 0;
    width: rem(50);
    height: rem(50);
    border: rem(1) solid var(--color-accent);
    border-radius: 50%;
    background-color: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;

    svg {
      color: var(--color-accent);
      transition: all 0.2s ease;
    }

    @include hover {
      background-color: var(--color-accent);
      svg {
        color: var(--color-light);
      }
    }

    &.swiper-button-disabled {
      opacity: 0.3;
      pointer-events: none;
    }

    &--prev {
    }
    &--next {
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    width: auto !important;
    .swiper-pagination-bullet {
      width: fluid(20, 40) !important;
      height: fluid(20, 40) !important;
      text-align: center;
      color: #a9a9bc !important;
      opacity: 1;
      background-color: transparent !important;
      border: 0 !important;
      border-radius: unset !important;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: rem(16) !important;
    }

    .swiper-pagination-bullet-active {
      color: var(--color-dark) !important;
      border: 0 !important;
    }
  }
}

.service-benefits-slide {
  border-radius: 40px 0 0 0;
  border: 1px solid rgba(101, 0, 143, 0.25);
  background: var(--color-light);
  padding: rem(24) rem(18) rem(24) rem(40);

  &__title {
    font-family: var(--font-family-base);
    font-size: rem(24);
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: rem(16);
    color: var(--color-dark);
    flex-grow: 1;
    min-height: rem(62);
  }

  &__text {
    font-size: fluid(16, 20);
  }
}
