@use "../helpers" as *;

.services-slider {
  padding-top: fluid(50, 100);
  &__slider {
    overflow: visible;
  }
  &__pagination {
    justify-content: center;
    display: flex;
    margin-top: rem(24);
  }
}

.services-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
  padding: rem(48) rem(42);
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: rem(424);
    bottom: 0;
    left: 0;
    background-color: var(--color-light);
    border-radius: rem(40);
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.2) 0px 8px 16px -8px;
    z-index: -1;
  }
  &__image {
    width: 100%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    border: rem(1) solid var(--color-green);
    margin-bottom: rem(46);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
    }
  }
  &__title {
    font-family: var(--font-family-base);
    flex-grow: 1;
    color: var(--color-dark);
    font-weight: 500;
    margin-bottom: rem(35);
    font-size: rem(28);
    line-height: 1.3;
  }
  &__link {
    text-transform: uppercase;
    color: var(--color-accent);
    font-size: rem(18);
    position: relative;
    display: flex;
    align-items: center;
    column-gap: rem(5);
    transition: opacity 0.3s ease;
    letter-spacing: rem(4);
    @include hover {
      opacity: 0.6;
    }
    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2212%22%20viewBox%3D%220%200%2016%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M9.75%200.75L15.25%206L9.75%2011.25M15%206H0.75%22%20stroke%3D%22%2365008F%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
      width: rem(15);
      height: rem(11);
      flex-shrink: 0;
    }
  }
}
