@use "../helpers" as *;

.simple-cta {
  margin: rem(40) 0;
  &__inner {
    border-radius: 16px;
    background-color: var(--color-accent);
    padding: rem(40) fluid(24, 60);
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: rem(40);
    @include medium {
      flex-direction: column;
      row-gap: rem(36);
    }
  }
  &__text {
    color: var(--color-light);
    flex: 0 1 rem(1042);
    text-align: center;
    font-size: fluid(24, 32);
    @include medium {
      flex: 0 1 auto;
    }
  }
  a.button {
    max-width: max-content;
    width: 100%;
    @include x-small {
      max-width: 100%;
    }
  }
}
