@use "../helpers" as *;

.testimonials {
  padding: fluid(40, 120) 0;

  &_landing {
    padding: rem(40) 0;
  }

  &__container {
  }
  &__title {
    margin-bottom: fluid(30, 60);
  }
  &__outer {
    overflow: hidden;
  }
  &__pagination {
    display: flex;
    justify-content: center;
  }
  &__button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: rem(36);
  }
}

.testimonial {
  background-color: var(--color-light);
  border-top-left-radius: 40px;
  border: 1px solid var(--color-accent-opacity);
  padding: rem(24) fluid(20, 40);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  &__rating {
    width: auto;
    height: rem(15);
    object-fit: contain;
    margin-bottom: rem(16);
  }

  &__text {
    margin-bottom: rem(30);
    font-size: rem(20);
  }

  &__author {
    font-size: rem(16);
    font-weight: 500;
  }
}

