@use "helpers" as *;

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.section-pt {
  padding-top: fluid(40, 80) !important;
}
.section-pb {
  padding-bottom: fluid(40, 80) !important;
}
.section-p {
  padding-block: fluid(40, 80) !important;
}
