:root {
  --color-light: #fff;
  --color-light-100: #f8f7fc;
  --color-accent: #65008f;
  --color-accent-opacity: #65008f40;
  --color-dark: #1b0126;
  --font-family-base: "Balto", sans-serif;
  --font-family-accent: "TiemposHeadline", sans-serif;
  --font-family-italic: "TiemposText", sans-serif;
}